#block-menu-block-2 {
    position: absolute;
    top: 0;
}
#map {
    position: relative;
}
#file-list-menu {
    position: relative;
}
#file-list-menu ul.menu {
    position: absolute;
    top: -400px;
}
#file-list-menu ul.menu, #block-menu-block-2 ul.menu {
    display: inline;
}
#file-list-menu ul.menu li, #block-menu-block-2 ul.menu li {
    list-style: none !important;
    margin-bottom: 80px;
    display: inline;
}
#file-list-menu ul.menu li a, #block-menu-block-2 ul.menu li a{
    display: inline;
    list-style: none;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 15px;
    color: #fff;
    text-decoration: none;
}

#file-list-menu ul.menu li a:hover, ul#main-menu-links li a:hover {
    text-decoration: underline;
}


/*.relative-wrapper {*/
    /*position: relative;*/
/*}*/

